########################################################
# bitporno VideoPortal
########################################################
start=https://www.bitporno.com/?q=&sort=oldest&time=tmonth&length=all
header=Cookie|ageverf=1
catcher=bitporno.com
########################################################
# Videos
########################################################
item_infos=<div class="entry.+?href="([^"]+).+?src="([^"]+).+?div.+?>([^<]+)
item_order=url|icon|title
item_info_name=title
item_info_build=%s
item_info_name=type
item_info_build=video
item_url_build=https://www.bitporno.com%s
########################################################
# Categories - Duration
########################################################
item_infos=<a href="[^"]+(length=[^a][^"]+)">([^<]+?)</a>
item_order=url|title
item_skill=directory
item_info_name=title
item_info_build=video.devil.locale|30113
item_info_name=icon
item_info_build=video.devil.image|face_devil_grin.png
item_url_build=https://www.bitporno.com/?q=&%s
########################################################
# Categories - Upload time
########################################################
item_infos=<a href="[^"]+(time=[^s][^"]+)">([^<]+?)</a>
item_order=url|title
item_skill=directory
item_info_name=title
item_info_build=video.devil.locale|30106
item_info_name=icon
item_info_build=video.devil.image|face_devil_grin.png
item_url_build=https://www.bitporno.com/?q=&%s
########################################################
# Categories - Orientation
########################################################
item_infos=<a\shref="[^"]+(or=[^&]+)[^"]+"\sclass="[^"]+">\n(Straight|Gay|Lesbian|All)
item_order=url|title
item_skill=directory
item_info_name=title
item_info_build=video.devil.locale|30101
item_info_name=icon
item_info_build=video.devil.image|face_kiss.png
item_url_build=https://www.bitporno.com/?q=&%s
########################################################
# Categories
########################################################
item_infos=<a href="[^"]+(cat=\d[^"]+)">([^<]+?)</a>
item_order=url|title
item_skill=directory
item_info_name=title
item_info_build=video.devil.locale|30100
item_info_name=icon
item_info_build=video.devil.image|category.png
item_url_build=https://www.bitporno.com/?q=&%s
########################################################
# Sorting
########################################################
item_infos=<a href="[^"]+(sort=[^r][^"]+)">([^<]+?)</a>
item_order=url|title
item_skill=directory
item_info_name=title
item_info_build=video.devil.locale|30109
item_info_name=icon
item_info_build=video.devil.image|sorting.png
item_url_build=https://www.bitporno.com/?q=&%s
########################################################
# Next
########################################################
item_infos=<a href="([^"]+)" class="pages">Next
item_order=url
item_skill=space|lock
item_info_name=title
item_info_build=video.devil.locale|30103
item_info_name=icon
item_info_build=video.devil.image|next.png
item_url_build=https://www.bitporno.com%s
########################################################
# Search
########################################################
title=video.devil.locale|30102
type=search
icon=video.devil.image|search.png
url=https://www.bitporno.com/?q=%s
########################################################
