########################################################
# Boysfood VideoPortal
########################################################
start=http://www.boysfood.com/
#header=Cookie|bfsession=1
catcher=boysfood.com
########################################################
# Videos
########################################################
item_infos=<div class="div4">[^<]+<a href="([^"]+)"><img alt="([^"]+)" class="[^"]+" src="([^"]+)".+?div6">([^<]+)
item_order=url|title|icon|title.append
item_info_name=title.append
item_info_build= (%s)
item_info_name=type
item_info_build=video
item_url_build=http://www.boysfood.com%s
########################################################
# Categories
########################################################
item_infos=href="(/videos/[^"]+)"><img border="0" src="([^"]+jpg)"[^/]+="([^"]+)" />
item_order=url|icon|title
item_skill=rss
item_url_build=http://www.boysfood.com%s
########################################################
# Direct Links
########################################################
title=video.devil.locale|30100
type=once
icon=video.devil.image|face_kiss.png
url=http://www.boysfood.com/categories/
########################################################
# Next
########################################################
item_infos=href="(http://www.boysfood.com[^"]+)" title="Page: \d+">></a></div>
item_order=url
item_skill=space|lock
item_info_name=title
item_info_build=video.devil.locale|30103
item_info_name=icon
item_info_build=video.devil.image|next.png
item_url_build=%s
########################################################
# Search
########################################################
title=video.devil.locale|30102
type=search
icon=video.devil.image|search.png
url=http://www.boysfood.com/search/?q=%s
########################################################
