########################################################
# pornrabbit VideoPortal
########################################################
start=http://www.pornrabbit.com/category.html
catcher=pornrabbit.com
########################################################
# Videos
########################################################
item_infos=<div class="video">.+?<img src="([^"]+.jpg)" class="thumb">.+?<h3>([^"]+)</h3>.+?runtime:</b> ([^"]+)</span>.+?a href="(.+?)"
item_order=icon|title|title.append|url
item_info_name=title.append
item_info_build= (%s)
item_info_name=type
item_info_build=video
item_url_build=http://www.pornrabbit.com%s
########################################################
# Categories
########################################################
item_infos=<div class="categ">.+?<h3>(.+?) <span.+?src="(.+?)">.+?href="(.+?)"
item_order=title|icon|url
item_skill=rss
item_url_build=http://www.pornrabbit.com%s
########################################################
# Direct Links
########################################################
title= Latest Videos
type=once
icon=video.devil.image|face_kiss.png
url=http://www.pornrabbit.com/
########################################################
# Next
########################################################
item_infos=\.\.\. <a href="(.+?)" class="next">Next &#187;
item_order=url
item_skill=space|lock
item_info_name=title
item_info_build=video.devil.locale|30103
item_info_name=icon
item_info_build=video.devil.image|next.png
item_url_build=http://www.pornrabbit.com%s
########################################################
# Search
########################################################
#title=video.devil.locale|30102
#type=search
#icon=video.devil.image|search.png
#url=http://www.pornrabbit.com/search.html?search=%s&searchbutton=Search
########################################################