########################################################
# porntrex.com VideoPortal
########################################################
start=https://www.porntrex.com/categories/
header=Referer|http://www.porntrex.com/categories
catcher=porntrex.com
########################################################
# Videos
########################################################
item_infos=class="video-item\s+">.+?data-original="..([^"]+)".+?durations"><i class="fa fa-clock-o"></i> ([\d:]+).+?<a href="(https://www.porntrex.com/video/[^"]+)" title="([^"]+)" >
item_order=icon|title.append|url|title
item_info_name=icon
item_info_build=http://%s
item_info_name=title.append
item_info_build= (%s)
item_info_name=type
item_info_build=video
item_url_build=%s
########################################################
item_infos=<a href="(https://www.porntrex.com/video/[^"]+)" class="video-list video-list-wide">\s+<span class="video-item\s+">.+?data-original="..([^"]+)" alt="([^"]+)".+?duration"><i class="fa fa-clock-o"></i> ([\d:]+).+?</span>
item_order=url|icon|title|title.append
item_info_name=icon
item_info_build=http://%s
item_info_name=title.append
item_info_build= (%s)
item_info_name=type
item_info_build=video
item_url_build=%s
########################################################
# Categories
########################################################
item_infos=<a class="item" href="https://www.porntrex.com/categories/([^"]+)" title="([^"]+)">\s+<p class="text">
item_order=url|title
item_skill=directory
item_info_name=icon
item_info_build=video.devil.image|category.png
item_url_build=https://www.porntrex.com/categories/%s
########################################################
# Next
########################################################
item_infos=<li class="next"><a href="#videos".+?data-parameters=".+?from:([\d]+)">
item_order=url
item_skill=space|lock
item_info_name=url
item_info_build=?from=%s
item_info_name=title
item_info_build=video.devil.locale|30103
item_info_name=icon
item_info_build=video.devil.image|next.png
item_url_build=https://www.porntrex.com/%s
########################################################
item_infos=<li class="next"><a href="#search".+?data-parameters="q:([^;]+).+?from_albums:([\d]+)">
item_order=url|url.append
item_skill=space|lock
item_info_name=url
item_info_build=search/%s/
item_info_name=url.append
item_info_build=?from_videos=%s
item_info_name=title
item_info_build=video.devil.locale|30103
item_info_name=icon
item_info_build=video.devil.image|next.png
item_url_build=https://www.porntrex.com/%s
########################################################
