########################################################
# pornburst.xxx VideoPortal
########################################################
start=https://www.pornburst.xxx/categories/
catcher=pornburst.xxx
########################################################
# Videos
########################################################
item_infos=ena"\s+href="([^"]+)".+?<img src="([^"]+)".+?alt="([^"]+).+?gth"></span>([^<]+?)</span>
item_order=url|icon|title|title.append
item_info_name=title.append
item_info_build= (%s)
item_info_name=type
item_info_build=video
item_url_build=https://www.pornburst.xxx%s
########################################################
# Categories
########################################################
item_infos=categoria" href="([^"]+)" title="([^"]+)">.+?src="([^"]+)"
item_order=url|title|icon
item_info_name=title
item_info_build= %s
item_skill=rss
item_url_build=https://www.pornburst.xxx%s
########################################################
# Next
########################################################
item_infos=<link rel="next" href="([^"]+)" />
item_order=url
item_skill=space|lock
item_info_name=title
item_skill=rss
item_info_build=video.devil.locale|30103
item_info_name=icon
item_info_build=video.devil.image|next.png
item_url_build=%s
########################################################
# Search
########################################################
title=video.devil.locale|30102
type=search
icon=video.devil.image|search.png
url=https://www.pornburst.xxx/search/?q=%s
########################################################
