########################################################
# stileproject VideoPortal
########################################################
start=http://www.stileproject.com/video/categories.html
catcher=stileproject.com
########################################################
# Videos
########################################################
#item_infos=<div class="thumbsloadingimage".+?href="(.+?)"><img alt="(.+?)".+?src="(http:.+?)"
item_infos=<div class="thumbsloadingimage".+?href="(.+?)"><img alt="(.+?)".+?src="(http:.+?)".+?duration">.+?(\d+[:]\d+)</div>
item_order=url|title|icon|title.append
item_info_name=title.append
item_info_build= (%s)
item_info_name=type
item_info_build=video
item_url_build=http://www.stileproject.com%s
########################################################
# Categories
########################################################
item_infos=<div class="category_image">.+?href="(.+?)".+?src="(.+?)".+?category_name">.+?">(.+?)</a>
item_order=url|icon|title
item_skill=rss
item_info_name=title
item_info_build=video.devil.locale|30100
item_info_build=%s
item_url_build=http://stileproject.com%s
########################################################
# Direct Links
########################################################
title= All Videos
type=once
icon=video.devil.image|face_kiss.png
url=http://www.stileproject.com/video/list
########################################################
# Next
########################################################
item_infos=</div><!-- clearfix -->.+?<a title="Next Page" href="(.+?)"
item_order=url
item_skill=space|lock
item_info_name=title
item_info_build=video.devil.locale|30103
item_info_name=icon
item_info_build=video.devil.image|next.png
item_url_build=http://stileproject.com%s
########################################################
# Search
########################################################
title=video.devil.locale|30102
type=search
icon=video.devil.image|search.png
url=http://www.stileproject.com/video/search.html?query=%s
########################################################