########################################################
# sunporno VideoPortal
########################################################
start=https://www.sunporno.com/most-recent/
catcher=simple-match
########################################################
# Videos
########################################################
item_infos=moviec\smovie.+?href="([^"]+).+?src="([^"]+).+?btime">([^<]+).+?pan>([^<]+)
item_order=url|icon|title.append|title
item_info_name=title.append
item_info_build= (%s)
item_info_name=type
item_info_build=video
item_url_build=%s
########################################################
# Categories
########################################################
item_infos=<li><a class="tip" href="(.+?)" title=".+?">(.+?)</a></li>
item_order=url|title
item_skill=directory
item_info_name=title
item_info_build=video.devil.locale|30100
item_info_name=icon
item_info_build=video.devil.image|category.png
item_url_build=%s
########################################################
# Sorting
########################################################
item_infos=<a href="([^"]+)" class="option">([^<]+)
item_curr=<a href="[^"]+" class="option selected">([^<]+)
item_order=url|title
item_skill=directory
item_info_name=title
item_info_build=video.devil.locale|30109
item_info_name=icon
item_info_build=video.devil.image|sorting.png
item_url_build=%s
########################################################
# Next
########################################################
item_infos=var thisPageNum = (\d*).+"moupBlock" href="([^"']+)
item_order=url.append|url
item_skill=space|lock
item_info_name=url.append
item_info_build=%s.html
item_info_name=title
item_info_build=video.devil.locale|30103
item_info_name=icon
item_info_build=video.devil.image|next.png
item_url_build=%s
########################################################
# Search
########################################################
title=video.devil.locale|30102
type=search
icon=video.devil.image|search.png
url=https://www.sunporno.com/search/%s/page1.html
########################################################
