########################################################
# Xhamster VideoPortal
########################################################
start=https://xhamster.com/
header=Referer|https://xhamster.com/
catcher=xhamster.com
########################################################
# Videos
########################################################
item_infos=thumb-image-container" href="([^"]+)".+?image" src="([^"]+).+?alt="([^"]+).+?duration">([:\d]+)
item_order=url|icon|title|title.append
item_info_name=title.append
item_info_build= (%s)
item_info_name=type
item_info_build=video
item_url_build=%s
########################################################
# Categories
########################################################
item_infos=<a href="(https://xhamster.com/categories/[^"]+)"[^>]+>([^<]+?)\s*<
item_order=url|title
item_skill=directory
item_info_name=title
item_info_build=video.devil.locale|30100
item_info_name=icon
item_info_build=video.devil.image|category.png
item_url_build=%s
########################################################
# Sorting
########################################################
item_infos=\s<a href="(https://xhamster.com/rankings/[^"]+).+?>([^<]+)
item_order=url|title
item_skill=directory
item_info_name=title
item_info_build=video.devil.locale|30109
item_info_name=icon
item_info_build=video.devil.image|sorting.png
item_url_build=%s
########################################################
# Direct Links
########################################################
title= Gay
type=once
icon=video.devil.image|face_kiss.png
url=xhamster.com.categories-gay.cfg
########################################################
title= Shemale
type=once
icon=video.devil.image|face_kiss.png
url=xhamster.com.categories-shemale.cfg
########################################################
# Next
########################################################
item_infos=a\s+data-page="next" href="([^"]+)
item_order=url
item_skill=space|lock
item_info_name=title
item_info_build=video.devil.locale|30103
item_info_name=icon
item_info_build=video.devil.image|next.png
item_url_build=%s
########################################################
item_infos=class=navCur>\d+</SPAN>.*?<A HREF="(search[^"]+)">\d+</A>
item_order=url
item_skill=space|lock
item_info_name=title
item_info_build=video.devil.locale|30103
item_info_name=icon
item_info_build=video.devil.image|next.png
item_url_build=https://xhamster.com/%s
########################################################
# Search
########################################################
title=video.devil.locale|30102
type=search
icon=video.devil.image|search.png
url=https://xhamster.com/search.php?q=%s&qcat=video
########################################################
