########################################################
# Xhamster VideoPortal
########################################################
start=http://xhamster.com/
header=Referer|http://xhamster.com/
catcher=xhamster.com
########################################################
# Videos
########################################################
item_infos=<img src='([^"]+jpg)'.+?<a href="(/movies/[^"]+)">(.+?)</a>.+?>Runtime: ((.+?))<
item_order=icon|url|title|duration|title.append
item_info_name=title.append
item_info_build= (%s)
item_info_name=type
item_info_build=video
item_url_build=http://xhamster.com%s
########################################################
# Categories
########################################################
item_infos=&nbsp;&nbsp;<a href="(/channels/[^"]+)"><b>([^<]+)</b></a><BR>
item_order=url|title
item_skill=directory
item_curr=href="/rss/([^"]+)"
item_info_name=title
item_info_build=video.devil.locale|30100
item_info_name=icon
item_info_build=video.devil.image|face_devil_grin.png
item_url_build=http://xhamster.com%s
########################################################
# Subcategories
########################################################
item_infos=&nbsp;&nbsp;<a href="(/[^"]+)"><b>(Top Rated|Most Viewed|Most Commented|Last 50 Videos)</b></a><BR>
item_order=url|title
item_skill=directory
item_info_name=title
item_info_build=video.devil.locale|30101
item_info_name=icon
item_info_build=video.devil.image|face_kiss.png
item_url_build=http://xhamster.com%s
########################################################
# Sorting
########################################################
item_infos=&nbsp;&nbsp;<a href="(/|/[^"]+)">(Date Added|View Count|Rating|Title)</a>
item_order=url|title
item_skill=directory
item_info_name=title
item_info_build=video.devil.locale|30109
item_info_name=icon
item_info_build=video.devil.image|face_kiss.png
item_url_build=http://xhamster.com%s
########################################################
item_infos=&nbsp;&nbsp;<a href="(search.php[?]q=.+?)">([^<]+)</a>&nbsp;&nbsp;
item_order=url|title
item_skill=directory
item_info_name=title
item_info_build=video.devil.locale|30109
item_info_name=icon
item_info_build=video.devil.image|face_kiss.png
item_url_build=http://xhamster.com/%s
########################################################
# Next
########################################################
item_infos=href="(/[^"]+)">Next<
item_order=url
item_skill=space|lock
item_info_name=title
item_info_build=video.devil.locale|30103
item_info_name=icon
item_info_build=video.devil.image|next.png
item_url_build=http://xhamster.com%s
########################################################
item_infos=class=navCur>\d+</SPAN>.*?<A HREF="(search[^"]+)">\d+</A>
item_order=url
item_skill=space|lock
item_info_name=title
item_info_build=video.devil.locale|30103
item_info_name=icon
item_info_build=video.devil.image|next.png
item_url_build=http://xhamster.com/%s
########################################################
# Search
########################################################
title=video.devil.locale|30102
type=search
icon=video.devil.image|search.png
url=http://xhamster.com/search.php?q=%s&qcat=video
########################################################
